.navbar{
    padding: 0px 9px;
}

#cereal { 
    transform: scale(.53);
    padding-bottom: 12px;
} 

.navbar-brand{
    font-family: 'Press Start 2P', cursive;
    height: 40px !important;
    display: flex;
    align-items: center;
}

.bg-dark {
    background-color: #A1C794 !important;
}
.navbar-dark{
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.caret:after {
    content:"";
	height:0;
	width:0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position:absolute;
	bottom:-1px;
	left:50%;
	margin: 0 0 0 -3px;
    z-index: 100;
}

.dropdown-menu{
    border:none;
    margin: 0;
}

.fa-search{
    padding: 2px;
    transform: scale(1.1);
    pointer-events: auto !important;
}

.dropdown #searchDrop {
    height: 60px !important;
    justify-content: center;
}

.dropdown #loginDrop {
    height: 295px !important;
}

.dropdown-item:hover {
    background-color: transparent;
    color:blue;
}

#dropdownSearch:hover, #dropdownLogin:hover {
    text-decoration: none;
    color: #5A9ACE !important;
}

.searchForm {
    width: 80%;
}

#searchIpt {
    width: 100% !important;
}

.navbar-toggler{
    border: none;
}
    

