.navbar{
    padding: 0px 9px;
}

#cereal { 
    max-width: 28px;
    max-height: auto;
    padding-bottom: 2.5px;
} 

.navbar-brand{
    font-family: 'Press Start 2P', cursive;
    padding: 0px 0px;
    padding-top: 5px;
    padding-left: 7px;
}

.bg-dark {
    background-color: #252c64!important;
}
.navbar-dark{
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.fa-search{
    padding-top: 4px;
    padding-left: 4px;
    transform: scale(1.25);
    display: block;
    color: white;
}

.search {
    margin-top: 8px;
    margin-left: 4px;
}

.search #searchIpt { 
        display: block;
        position: absolute;
        right: 9999px;
        visibility: hidden;
        height: 24px;
        width: 0px;
        opacity: 0;
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out; 
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;  
}

.search:hover #searchBtn, #searchIpt:focus + #searchBtn {
    padding-bottom: 4px;
    padding-left: 4px;
    transform: scale(1.25);
    display: block;
    color: white;
}

.search:hover #searchIpt, .search #searchIpt:focus { 
    margin-right: 4px;
    position: static;
    width: 150px;
    visibility: visible;
    opacity: 1;
}


    

