.navbar{
    padding: 0px 9px;
}

#cereal { 
    max-width: 28px;
    max-height: auto;
    padding-bottom: 2.5px;
} 

.navbar-brand{
    font-family: 'Press Start 2P', cursive;
    padding: 0px 0px;
    padding-top: 5px;
    padding-left: 7px;
}

.bg-dark {
    background-color: #252c64!important;
}
.navbar-dark{
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.caret:after {
    content:"";
	height:0;
	width:0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position:absolute;
	bottom:-1px;
	left:50%;
	margin:0 0 0 -3px;
	z-index:100;
}

.dropdown-menu{
    border:none;
    margin: 0;
}

.fa-search{
    padding: 2px;
    transform: scale(1.1);
    pointer-events: auto !important;
}

.dropdown #searchDrop {
    height: 60px !important;
    justify-content: center;
}

.searchForm {
    width: 80%;
}

#searchIpt {
    width: 100% !important;
}

    

