@media all and (min-width: 1500px) {
    #collapseUser {
        display: none !important;
    }
}

@media all and (max-width: 1200px) {}

@media all and (max-width: 992px) {
    .thumb {
        height: 20vw;
    }

    #searchDrop {
        position: absolute !important;
        right: 0px !important;
        left: auto !important;
    }
    /* Downsize CerealBox Size */
    .scene {
        width: 225px !important;
        height: 325px !important;
        -webkit-perspective: 450px !important;
        -ms-perspective: 450px !important;
        perspective: 450px !important;
    }
    .cerealBox {
        width: 225px !important;
        height: 325px !important;
    }
    .face {
        font-size: 16px !important;
    }
    .front,
    .back {
        width: 225px !important;
        height: 325px !important;
    }
    .right,
    .left {
        height: 325px !important;
    }
    .top,
    .bottom {
        width: 225px !important;
    }
    .front {
        transform: rotateY( 0deg) translateZ(50px) !important;
    }
    .back {
        transform: rotateY(180deg) translateZ(50px) !important;
    }
    .right {
        transform: rotateY( 90deg) translateZ(75px) !important;
    }
    .left {
        transform: rotateY(-90deg) translateZ(150px) !important;
    }
    .top {
        transform: rotateX( 90deg) translateZ(100px) !important;
    }
    .bottom {
        transform: rotateX(-90deg) translateZ(175px) !important;
    }
    .scene .cerealBox .front {
        background-size: 225px 325px !important
    }
    .left {
        background-size: 100px 325px !important
    }
    .thumbDiv a,
    .thumbDiv h4,
    .front h4 {
        font-size: 1.3rem !important;
    }
    .thumbDiv {
        margin-top: 10%;
    }
    .back {
        line-height: 180px !important;
    }
    .navbar-brand {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 768px) {
    .thumb {
        height: 22vw;
    }

    .flex-column {
        padding-right: 5px;
    }
    .container .shelf {
        display: block !important;
    }
    .scene {
        padding: 0px !important;
    }
    .normalLogin {
        display: none;
    }
    div .mobileLogin {
        display: block !important;
    }
    .normalUser {
        display: none;
    }
    div .mobileUser {
        display: block !important;
    }
    #cereal {
        display: none;
    }
    .fa-search {
        transform: scale(1.2);
    }
    .nav-item {
        text-align: center;
    }
    .subLink {
        text-align: center;
        background-color: #92B586;
    }
    #searchDrop {
        width: 95.5vw !important;
    }
    /* Downsize CerealBoxes */
    .scene {
        width: 200px !important;
        height: 275px !important;
        -webkit-perspective: 400px !important;
        -ms-perspective: 400px !important;
        perspective: 400px !important;
    }
    .cerealBox {
        width: 200px !important;
        height: 275px !important;
    }
    .front,
    .back {
        width: 200px !important;
        height: 275px !important;
    }
    .right,
    .left {
        height: 275px !important;
    }
    .top,
    .bottom {
        width: 200px !important;
    }
    .front {
        transform: rotateY( 0deg) translateZ(50px) !important;
    }
    .back {
        transform: rotateY(180deg) translateZ(50px) !important;
    }
    .right {
        transform: rotateY( 90deg) translateZ(50px) !important;
    }
    .left {
        transform: rotateY(-90deg) translateZ(150px) !important;
    }
    .top {
        transform: rotateX( 90deg) translateZ(100px) !important;
    }
    .bottom {
        transform: rotateX(-90deg) translateZ(175px) !important;
    }
    .scene .cerealBox .front {
        background-size: 200px 275px !important
    }
    .left {
        background-size: 100px 275px !important
    }

    .cerealRow {
        margin-top: 4%; 
        flex-wrap: wrap;
    }

    .thumbDiv a,
    .thumbDiv h4,
    .front h4 {
        font-size: 1.2rem !important;
    }
    .thumbDiv {
        margin-top: 5%;
    }
    .back {
        line-height: 160px !important;
    }
    .navbar-brand {
        font-size: .95rem;
    }
}

@media only screen and (max-width: 576px) {
    .accAgreement {
        width: 90%;
    }
    .thumb {
        height: 30vw;
    }
    .flex-column {
        padding-top: 22px;
        padding-right: 5px;
    }
    .front h4 {
        width: 99%;
    }
    .container .shelf {
        display: block !important;
    }
    .scene {
        padding: 0px !important;
    }
    textarea.form-control {
        width: 100% !important;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .front {
        z-index: 3;
        transition: opacity .75s ease-in-out;
    }
    .back {
        opacity: 0;
        transition: opacity .75s ease-in-out;
    }
    .right {
        opacity: 0;
    }
    .left {
        opacity: 0;
    }
    .top {
        opacity: 0;
    }
    .bottom {
        opacity: 0;
    }
    .cerealBox {
        padding-top: 25px;
    }
    .cerealBox:hover .front,
    .hoverEffect .front {
        opacity: 0;
    }
    .cerealBox:hover .back,
    .hoverEffect .back {
        opacity: 1;
        z-index: 3;
    }
}