<% include ../partials/header.ejs %>

<div class="post-con container">
    <header class="jumbotron">
        <div class="d-flex flex-column">
            <h1 class="computer-text text-center">Blog</h1>
            <h1 class="computer-text text-center">Posts</h1>
        </div>
    </header>

    <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="card-deck">
                <%posts.forEach((post) => { %>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <a href="/posts/<%=post._id%>">
                                <h4><%= post.name %></h4>
                            </a>
                            <p class="card-text"><%= post.date %></p>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>