<% include ../partials/header.ejs %>

<div class="row text-center">
    <div class="col-md-12">
        <% if(message !== null) { %>
        <h3><%= message %></h3>
        <% } %>
    </div>
</div>

</div>

<div class="post-con container">
    <header class="jumbotron">
        <div class="d-flex flex-column">
            <h1 class="computer-text text-center">Blog</h1>
            <h1 class="computer-text text-center">Posts</h1>
        </div>
    </header>

    <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <%posts.forEach((post) => { %>
                <div class="scene col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="cerealBox mx-auto">
                        <div class="face front">
                            <div>
                                <a href="/posts/<%=post._id%>">
                                    <h4><%= post.name %></h4>
                                </a>
                                <p><%= post.date %></p>
                            </div>
                        </div>
                        <div class="face back">back</div>
                        <div class="face top">top</div>
                        <div class="face bottom">bottom</div>
                        <div class="face left">left</div>
                        <div class="face right">right</div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <% include ../partials/footer.ejs %>