<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto my-4 py-3 post-con">
            <div class="text-center">
                <h1>Forgot Password</h1>
            </div>
            <div class="text-center">
                <form class="formStyle" action="/forgot" method="POST">
                    <div class="form-group d-flex">
                        <i class="fas fa-envelope d-flex align-items-center"></i>
                        <input class="form-control w-100" type="email" name="email" placeholder="Email" autofocus>
                    </div>
                    <button id="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>