<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto my-4 py-3 post-con">
            <div class="text-center">
                <h1>Login</h1>
            </div>
            <div class="text-center formDiv">
                <form class="formStyle text-center" action="/login" method="POST">
                    <div class="form-group d-flex ">
                        <i class="fas fa-user d-flex align-items-center"></i>
                        <input class="form-control w-100" type="text" id="formUser" placeholder="Username"
                            name="username">
                    </div>
                    <div class="form-group d-flex ">
                        <i class="fas fa-key d-flex align-items-center"></i>
                        <input class="form-control w-100" type="password" id="formPass" placeholder="Password"
                            name="password">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary w-50">Login</button>               
                 </form>
                 <hr>
              <a class="dropdown-item d-flex justify-content-center" href="/register">Don't have an account? Sign up!</a>
              <a class="dropdown-item mx-auto" href="/forgot">Forgot password?</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>