<% include ../partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto my-4 py-3 post-con">
                <div class="text-center">
                    <h1>Register</h1>
                </div>
                <div class="text-center formDiv">
                    <form class="text-center formStyle" action="/register" method="POST">
                        <div class="form-group d-flex">
                            <i class="fas fa-user d-flex align-items-center"></i>
                            <input class="form-control w-100" type="text" id="username" placeholder="Username" name="username" pattern="^[a-zA-Z0-9_.-]*$" minlength="4" maxlength="15" title="Username cannot contain any special characters and must be between 4-15 characters long."
                                required>
                        </div>
                        <div class="form-group d-flex">
                            <i class="fas fa-envelope d-flex align-items-center"></i>
                            <input class="form-control w-100" type="email" id="email" placeholder="Email" name="email" required>
                        </div>
                        <div class="form-group d-flex">
                            <i class="fas fa-key d-flex align-items-center"></i>
                            <input class="form-control w-100" type="password" id="password" placeholder="Password" name="password" minlength="8" required>
                        </div>
                        <div class="form-group d-flex mb-4">
                            <i class="fas fa-key d-flex align-items-center"></i>
                            <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirm password" class="form-control w-100" minlength="8" required>
                        </div>
                        <button id="submit" class="btn btn-success btn-sm accCreate">Create Account</button>
                    </form>
                    <hr>
                    <div class="mx-auto mt-3 accAgreement">
                        By creating an account, you agree to our
                        <a href="/legal/terms">Terms of Use</a> and
                        <a href="/legal/privacy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/scripts/register.js"></script>


    <% include ../partials/footer.ejs %>